body {
  width: 60%;
  margin: auto;
  border: 1px solid darkgray;
}

section {
  background-color: cornsilk;
  margin: 50px 0px;
}

h1,
p {
  width: 100%;
}

p {
  font-size: 1.5em;
  text-align: justify;
}

h1 {
  font-size: 2.2em;
  text-align: center;
  background-color: darkcyan;
}

section:first-of-type h1 {
  font-size: 2.5em;
  background-color: darkolivegreen;
}

.brown,
.yellow,
.green,
.red {
  font-size: 1em;
  margin: 16px;
}
  
.brown h1{
  color:brown;
  }
  
.yellow h1{
  color:yellow;
  }
  
.green h1{
  color:green;
  }
  
.red h1{
  color:red;
  }
